#popup_background {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    color: white;
    opacity: 0.3;
    padding: 0;
    /*default to not visible*/
    display: none;
}
#popup_window {
    z-index: 200;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background-color: white;
    /*default to not visible*/
    display: none;
}

#popup_content_container {
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}