<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <jmxConfigurator contextName="Agenda Endpoint" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d%X{CID}%-5p[%t]%c{15}:%replace(%replace(%m){'(?=[\"\\])','\\'}){'[\\]{0,3}\"password[\\]{0,3}\"[\s]{0,1}:[\s]{0,1}[\\]{0,3}\".*?[\\]{0,3}\"','\"password\":\"****\"'}%n</Pattern>
        </layout>
    </appender>

    <!-- ====================================================================================================== -->
    <!-- Other/default logging -->
    <!-- ====================================================================================================== -->
    <logger name="org.mortbay" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="net.sf" level="ERROR" />
    <logger name="com.theplatform.module" level="ERROR" />
    <logger name="httpclient.wire" level="ERROR" />
    <logger name="com.amazonaws.http.conn.ssl" level="ERROR"/>
    <logger name="com.amazonaws.internal" level="INFO"/>
    <logger name="com.amazonaws.monitoring" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
