apiVersion: v1
kind: ConfigMap
metadata:
  name: pop-puller-01
  namespace: fission
  labels:
   serviceShortName: cppull
data:
  env-properties: |
    LOG_LEVEL=INFO
    JAVA_HEAP=256M
    JAVA_EXTRA=-XX:MaxMetaspaceSize=256m 
    JAVA_EXTRA="$JAVA_EXTRA"
  external-properties: |
    alive.check.enabled=true
  conf-yaml: |
    agendaProviderUrl: '<endpoint url>/fission/resourcepool/service'
    pullWait: 10
    insightId: '<your insight id>'
    agendaRequestCount: 1
  registry-json: |
    {
      "basePodConfig": {
        "memoryRequestCount": "1000m",
        "cpuMinRequestCount": "1000m",
        "cpuMaxRequestCount": "1000m",
        "podScheduledTimeoutMs": 600000,
        "reapCompletedPods": true,
        "pullAlways": true
      },
      "executor": {
        "configMapName": "pop-executor-01",
        "podConfig": {
          "imageName": "fhexec:1.0.3",
          "namePrefix": "pop-exec",
          "configMapSettings": [
            {
              "volumeName": "config-volume",
              "volumeMountPath": "/app/config",
              "mapKeyPaths": [
                {
                  "key": "env-properties",
                  "path": "env.properties"
                },
                {
                  "key": "external-properties",
                  "path": "external.properties"
                },
                {
                  "key": "registry-json",
                  "path": "registry.json"
                }
              ]
            }
          ]
        }
      }
    }
