<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<jmxConfigurator contextName="Fission Sample Authorizer" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d %X{CID} %-5p [%t] component=authorizer %c{15}: %m %replace(%ex){'[\r\n]+', '\\n'}%nopex%n</Pattern>
		</layout>
	</appender>

	<!-- ====================================================================================================== -->
	<!-- Other/default logging -->
	<!-- ====================================================================================================== -->
	<logger name="org.mortbay" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="net.sf" level="ERROR" />
	<logger name="httpclient.wire" level="ERROR" />

	<root level="${LOG_LEVEL:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
