<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d ${HOSTNAME} %X{CID} %-5p [%t] %c{15}: %replace( %replace(%m){"\\\"password\\\":\\\".*?\\\"","\\\"$1\\\":\\\"****\\\""}){"\"password\":\".*?\"","\"$1\":\"****\""}%n</Pattern>
        </layout>
    </appender>

    <!--<appender name="syslogServiceAppender" class="ch.qos.logback.classic.net.SyslogAppender">-->
        <!--<filter class="com.theplatform.module.logging.extension.logback.filter.LevelMatchFilter" />-->
        <!--<syslogHost>syslog.logging</syslogHost>-->
        <!--<facility>local0</facility>-->
        <!--<port>514</port>-->

        <!--<throwableExcluded>true</throwableExcluded>-->
        <!--&lt;!&ndash; WARNING: THE HARD CODED CLUSTER MUST BE RESOLVED ?? &ndash;&gt;-->
        <!--<suffixPattern>fhexec {"index": "service", "ccds_cluster_title": "lab-main-t-aor-fhexec-t01", "type": "fhexec-service", "event": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %X{CID} %-5p [%t] %c: %replace(%m){'(?=[\"\\])', '\\'}%replace( %replace(%xException){'(?=[\"\\])', '\\'} ){'\n', '\\n'}"}%n</suffixPattern>-->
    <!--</appender>-->

    <!--<appender name="asyncLogAppender" class="com.theplatform.module.logging.extension.logback.appender.AsyncAppender">-->
        <!--<appender-ref ref="syslogServiceAppender" />-->
    <!--</appender>-->

    <!--<logger name="org.springframework" level="ERROR" />-->
    <!--<logger name="org.apache" level="ERROR" />-->
    <!--<logger name="httpclient.wire.header" level="ERROR" />-->
    <!--<logger name="com.theplatform.web.marshalling" level="ERROR" />-->
    <!--<logger name="io.fabric8.kubernetes.client.Config" level="INFO" />-->

    <root level="${LogLevel:-DEBUG}">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="asyncLogAppender" />-->
    </root>

</configuration>